@model StokTakip.Models.Entity.TBLURUNLER
@{
    ViewBag.Title = "YeniUrunEkle";
    Layout = "~/Views/Shared/_MainLoyout.cshtml";
}

<form class="form-group" method="post">
    <div>
        <label>Ürün Adı</label>
        <input type="text" class="form-control" name="URUNAD" required/>
    </div>
    <div>
        <label>Ürün Markası</label>
        <input type="text" class="form-control" name="MARKA" required/>
    </div>
    <div>
        <label>Kategori Seçin</label>
     @Html.DropDownListFor(m=>m.TBLKATEGORILER.KATEGORIID,(List<SelectListItem>)ViewBag.dgr, new {@class="form-control"})
    </div>
    <div>
        <label>Ürün Fiyatı</label>
        <input type="text" class="form-control" name="FİYAT" />
    </div>
    <div>
        <label>Ürün Miktarı</label>
        <input type="text" class="form-control" name="STOK" required/>
    </div>
    <div style="margin-top:15px">
         <button class="btn btn-info">Yeni Ürün Ekle</button>
    </div>

</form>

